{
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma":"none"
}
