.MuiFormLabel-root .Mui-focused {
	color: rgba(0, 0, 0, 0.65);
}
header.MuiPaper-elevation4 {
    color: rgba(0, 0, 0, 0);
    background-color: #f5f5f5;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 0%), 0px 0px 5px 0px rgb(0 0 0 / 0%), 0px 2px 0px 0px rgb(0 0 0 / 10%);
}

div.MuiBox-root-9, .MuiBox-root-7 {
    padding: 1rem!important;
}

label {
	color: rgba(0, 0, 0, 0.65);
}

span.MuiFormControlLabel-label {
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
}
svg.MuiSvgIcon-root {
	font-size: 1rem;
}

.boton-combo {
	width: 537px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #1890ff;

	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal !important;
	font-size: 16px;
	line-height: 22px;
	color: #1890ff;
	outline: none;
	box-shadow: none;
}

.boton-combo:hover{
	background-color: #1890ff;
	color: #fff;
	border: 1px solid #1890ff;
	box-shadow: none;
	outline: none;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}

.eliminar-datos{
	cursor: pointer;
	transition: .3s all ease;
}

.eliminar-datos:hover{
	color: #1890ff;
	font-weight: bold;
}