header.MuiPaper-elevation4 {
	color: rgba(0, 0, 0, 0);
	background-color: #f5f5f5;
	box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%),
		0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

div.MuiTabs-flexContainer {
	background-color: #fff;
}

span.MuiTab-wrapper {
	color: #1890ff;
}

span.PrivateTabIndicator-colorPrimary-3 {
	background-color: #1890ff;
}

button.MuiButtonBase-root {
	outline: none;
}

