html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0 3rem;
	font-family: 'Inter', 'sans-serif';
}

a:hover {
	text-decoration: none !important;
}

/*  Login    */
.contenedor {
	height: calc(100vh - 55px - 24px);
}

.text-footer {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 10px;
	text-transform: uppercase;
	color: #acabc2;
}

.btn-login {
	width: 320px;
	background: #ffffff !important;
	border: 1px solid #817af6 !important;
	color: #855cf8 !important;
	transition: 0.3s ease all;
}

.btn-login:hover {
	background-color: #817af6 !important;
	color: #ffffff !important;
}

.country {
	height: 88px;
	width: 88px;
	position: absolute;
	transition: 0.3s ease all;
	border: none;
	border-radius: 999px;
	top: 20rem;
}

.mexico:hover {
	background: rgba(100, 190, 133, 0.6);
	border: 2px solid #64be85;
}

.peru:hover {
	background: rgba(234, 100, 111, 0.6);
	border: 2px solid #ea646e;
}

.colombia:hover {
	background: rgba(255, 232, 187, 0.6);
	border: 2px solid #fcc355;
}

.ecuador:hover {
	background: rgba(217, 237, 255, 0.6);
	border: 2px solid #1890ff;
}

.panama:hover {
	background: rgba(0, 81, 218, 0.6);
	border: 2px solid #0051da;
}

.text-nav {
	font-family: 'IBM Plex Sans', sans-serif !important;
	font-size: 14px !important;
	color: #acabc2 !important;
}

.card-main {
	border-radius: 10px;
	transition: 0.3s ease all;
}

.dt-combos:hover {
	background: #fff3dd;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
}

.combos-generator:hover {
	background: rgba(217, 237, 255, 0.99);
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
}

.promotool:hover {
	background: #E7FFF0;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
}

.smart-discounts:hover{
	background: #E2E0FF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15)
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #1890ff!important;
    border-color: #1890ff!important;
    box-shadow: none;
}
